@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 241, 245, 249;
    --background-rgb: 15, 23, 42;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 31, 41, 55;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

svg {
    display: inline-block;
}

h1 {
    @apply text-3xl font-bold my-4 text-gray-900 dark:text-gray-50;
}

h2 {
    @apply text-2xl font-semibold my-2 text-gray-900 dark:text-gray-50;
}

h3 {
    @apply text-xl font-semibold my-2 text-gray-900 dark:text-gray-50;
}

p {
    @apply text-base leading-relaxed text-gray-700 dark:text-gray-200;
}

ul {
    @apply list-disc pl-5 my-4;
}

ul li {
    @apply mb-2 text-gray-700 dark:text-gray-200;
}

a {
    @apply text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300 no-underline cursor-pointer;
}