#instafeed {
    height: 150px;
    text-align: center;
    overflow: hidden;
}

#instafeed img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: inline-block;
}

#instafeed img:hover {
    filter: grayscale(100%);
}

@media screen and (max-width:800px) {
    #instafeed {
        height: 250px;
    }

    #instafeed img {
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-width:600px) {
    #instafeed {
        height: 200px;
    }

    #instafeed img {
        height: 100px;
        width: 100px;
    }
}